---
import "../../style/global.css";
---

<section class="banner">
  <div class="box content">
    <div class="colortxt">
      <h2>Responsive Design</h2>
      <p>Elevando la Experiencia Digital a Nuevos Horizontes</p>
    </div>
  </div>

  <div class="boxdiv images">
    <div class="imgBx">
      <div class="contentimg">
        <div class="colortxt">
          <p>Creatividad en Acción</p>
        </div>
      </div>
      <!-- <img class="imge" src="img/num_4.jpg" alt="Creatividad en Acción" /> -->
    </div>
    <div class="imgBx">
      <div class="contentimg">
        <div class="colortxt">
          <p>Innovación en Cada Píxel</p>
        </div>
      </div>
      <!-- <img class="imge" src="img/num_4.jpg" alt="Creatividad en Acción" /> -->
    </div>
    <div class="imgBx">
      <div class="contentimg">
        <div class="colortxt">
          <p>Únete a la Revolución Creativa</p>
        </div>
      </div>
      <!-- <img class="imge" src="img/num_3.png" alt="Creatividad en Acción" /> -->
    </div>
  </div>
</section>

<style>
  .contentimg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 60px; */
    padding: 15%;
  }

  .contentimg h2 {
    font-family: Light-Italic;
    font-size: 4em;
    color: var(--Logo1-color);
  }

  body.dark .contentimg h2 {
    color: var(--primary-color);
  }

  body.dark .contentimg h1 {
    color: var(--primary-color);
  }

  @media (max-width: 600px) {
    .contentimg {
      padding: 29%;
    }
  }
</style>
