---
import "../../style/global.css";
---

<div class="card">
  <div class="card_form">
    <span>(Topic)</span>
  </div>
  <div class="card_data">
    <div style="display: flex" class="data">
      <div class="text">
        <label class="text_m">Main Title</label>
        <div class="cube text_s">
          <label class="side front">Access the list (Topic)</label>
          <label class="side top">Username-id</label>
        </div>
      </div>
    </div>
    <span title="Acceder a la lista (Temas)">Access</span>
  </div>
</div>
