---
import "../../style/global.css";
---

<div class="box2 content">
  <div class="">
    <h2>En Responsive Design</h2>
    <div class="main-content1">
      <div class="pfo colortxt">
        <p class="marpar">
          creamos experiencias digitales cautivadoras. Somos una agencia
          creativa especializada en diseño web, comprometida con la excelencia,
          la innovación y la conexión emocional con el público.
        </p>
      </div>
      <button>
        <span class="button_top">Mas Informacion</span>
      </button>
    </div>
  </div>
</div>
