---
import "../../style/global.css";
---

<div class="loader">
  <p>Servicios:</p>
  <div class="words">
    <span class="word">DISEÑO WEB</span>
    <span class="word">DOMINIO Y HOSTING</span>
    <span class="word"></span>
    <span class="word">SEO WEB</span>
    <span class="word">LOGOTIPO</span>
    <span class="word">DISEÑO GRÁFICO</span>
  </div>
</div>
