---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Card from "../components/card/Card.astro";
import Selectservi from "../components/select/selectservi.astro";
import Layout from "../layouts/Layout.astro";
import "../style/global.css";
import Content from "../components/card/cardservicio.astro";

const allPosts = await Astro.glob("../content/*.md");
---

<Layout title="Responsive Design">
  <Header />
  <main>
    <Selectservi />
  </main>
  <Footer />
</Layout>

<style></style>

<script>
  const btnSwitch = document.querySelector("#switch");
  btnSwitch.addEventListener("click", () => {
    document.body.classList.toggle("dark");
    btnSwitch.classList.toggle("active");
  });
</script>
