:root {
  --primary-color: #fff;
  --primary-500-color: rgba(255, 255, 255, 0.5);
  --primary-700-color: rgba(255, 255, 255, 0.747);
  --secundary-color: #000;
  --Logo1-color: #550197;
  --Logo1-900-color: #5601979a;
  --Logo2-color: #2a8ae1;
  --dark-color: #1f2937;
  --dark-500-color: rgba(31, 41, 55, 0.5);
  --ya-color: #e0da03;
  --ro-color: #f82cb2;

  /* Variables Button uno */
  --button_radius: 0.75em;
  --button_color: var(--primary-color);
  --button_outline_color: var(--Logo1-color);
}

@font-face {
  font-family: Light-Italic;
  src: url(../Font/Sugo-Pro-Classic-Light-Italic-trial.ttf);
}

* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  transition: 0.8s ease all;
}

body.dark {
  background: var(--dark-color);
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner .box {
  position: relative;
  height: 80vh;
  /* height: 100vh; */
}

/*
  color total mente blanco sin negro
  .banner{
      .box:last-child{
              background: $ColTex;
      }
  
  }
  */


/* Menu Inicio - a -------------------------------------- */
header {
  background: var(--primary-500-color);
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 20px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  transition: 0.7s;
}

header.abajo {
  background: var(--primary-700-color);
  padding: 20px;
}

body.dark header {
  background: var(--dark-500-color);
}

body.dark header a {
  color: var(--primary-color);
}

body.dark header a:hover {
  color: var(--primary-color);
}

/* SVG Logo color inicio */

.logoPc {
  width: 4%;
}

.cls-1 {
  fill: none;
  stroke: var(--Logo1-color);
  stroke-miterlimit: 10;
  stroke-width: 16.4px;
}

.cls-2 {
  fill: var(--Logo1-color);
  stroke-width: 0;
}

body.dark .cls-1 {
  stroke: var(--primary-color);
}

body.dark .cls-2 {
  fill: var(--primary-color);
}

/* SVG Logo  color fin */

.logo {
  width: 38%;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-left: 30px;
}

header ul li a {
  font-family: Light-Italic;
  font-size: 120%;
  text-decoration: none;
  font-weight: 500;
  color: var(--Logo1-color);
  letter-spacing: 1px;
  transition: 0.7s;
}

header ul li a:hover {
  color: var(--secundary-color);
}

/* Estilo menu Inicio - a -------------------------------------- */



.menuitem {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.menuitem::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--secundary-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.menuitem::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--primary-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.menuitem:hover::after {
  width: 100%;
}

.menuitem:hover p::before {
  width: 100%;
}

body.dark .menuitem::after {
  background: var(--primary-color);
}

/* Estilo munu fin - a  -------------------------------------- */


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 60px; */
  padding: 15%;
}

.content h2 {
  font-family: Light-Italic;
  font-size: 4em;
  color: var(--Logo1-color);
}

body.dark .content h2 {
  color: var(--primary-color);
}

body.dark .content h1 {
  color: var(--primary-color);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.colortxt p {
  color: var(--dark-color);
}

.content h2 p {
  font-size: 1.1em;
  color: var(--ya-color);
  line-height: 1.8em;
}


body.dark .content p {
  color: var(--primary-color);
}


/* Card  --------------------------------------------------------------------------------------------- */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #242824;
  padding: 10px;
  border-radius: 6px;
  gap: 0.5rem;
  height: max-content;
}

.card_form {
  position: relative;
  width: 15em;
  height: 15em;
  border-radius: 4px;
  background-color: #9147ff;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.card_form span {
  font-size: 1.5em;
  position: absolute;
  inset: 0;
  padding: 5px 10px;
  color: #fff;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.card:hover .card_form span,
.card:hover .card_data span {
  opacity: 1;
}

.card_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_data span {
  color: #9147ff;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  transition: 0.2s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.card_data span:hover {
  text-decoration: underline;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.text_m {
  font-size: 0.9em;
}

.text_s {
  color: #9147ff;
  font-size: 0.6em;
}

.cube {
  width: max-content;
  height: 10px;
  transition: all 0.2s;
  transform-style: preserve-3d;
}

.card:hover .cube {
  transform: rotateX(90deg);
}

.side {
  width: max-content;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  transform: rotateX(-90deg) translate3d(0, 0, 0em);
}

.front {
  transform: translate3d(0, 0, 1em);
}

/* Parrafo de componente catent Inicio --------------------------------------------------------------------------------------------- */

.marpar {
  margin: 0px 0px 30px 0px;
}

/* Parrafo de componente catent Fin  --------------------------------------------------------------------------------------------- */


/* lOADER SERVICIOS fin - a  -------------------------------------- */
.loader {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 99px;
  box-sizing: content-box;
  height: 138px;
  padding: 12px 66px;
  display: flex;
  justify-content: center;
  border-radius: 48px;
}

body.dark .loader {
  color: var(--primary-color);
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%);
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--Logo1-color);
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* lOADER SERVICIOS fin - a  -------------------------------------- */

/* Button uno -------------------------------------- */

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}


/* 😶‍🌫️ Button dos -------------------------------------- */

.btn {
  font-family: Light-Italic;
  display: inline-block;
  font-size: 1.1em;
  margin-top: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid var(--Logo1-color);
  padding: 10px 30px;
  letter-spacing: 1px;
  transition: 0.2s;
}

body.dark .btn {
  color: var(--primary-color);
}

.btn:hover {
  background: var(--Logo1-color);
  color: var(--primary-color);
  letter-spacing: 1px;
}

body.dark .btn {
  color: var(--primary-color);
}

.sci {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 60px;
}

.sci h3 {
  font-family: Light-Italic;
  font-weight: 500;
  color: var(--Logo1-color);
  letter-spacing: 1px;
}

body.dark .sci h3 {
  color: var(--primary-color);
}

.sci li {
  list-style: none;
  margin-left: 20px;
}

.sci li .imge {
  max-width: 30px;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.images .imgBx {
  position: relative;
  width: 50%;
  background-image: url('img/num_4.svg');
  background-size: cover;
  height: 50vh;
  /* background: var(--Logo1-color); */
}


.images .imgBx:nth-child(2) {
  background-image: url('img/num_1.svg');
  background-size: cover;
}

.images .imgBx:nth-child(3) {
  width: 100%;
  background-image: url('img/num_2.svg');
  background-size: cover;
}

.images .imgBx .imge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.switch {
  background: var(--Logo1-color);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: var(--primary-color);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 3s ease all;
  box-shadow: 0px 0px 2px 2px var(--Logo1-color);
}

.switch.active {
  background: var(--primary-color);
  color: var(--dark-color);
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: var(--secundary-color);
}

.imgls {
  height: 23px;
  left: 3px;
  bottom: -3px;
  position: relative;
}

.footer {
  background: var(--primary-color);
  padding: 2rem;
  width: 100%;
}

body.dark .footer {
  background: var(--dark-color);
}

.inner-footer {
  width: 70%;
  margin: 0 auto;
  color: var(--dark-color);
  justify-content: center;
}

body.dark .inner-footer {
  color: var(--primary-color);
}

/* 😶 Main -------------------------------------- */
main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: #1a1850;
  font-size: 20px;
  line-height: 1.6;
}

.astro-a {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translatex(-50%);
  width: 220px;
  height: auto;
  z-index: -1;
}

/* 😶 main fin -------------------------------------- */

/* 😶‍🌫️ Select 2 -------------------------------------- */

body.dark .card1 {
  background: var(--dark-color);
  color: var(--primary-color);
}

.card1 .main-content1 {
  flex: 1;
}

.header1 {
  margin-bottom: 24px;
}

.card1 .heading1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

.card1 .footer1 {
  font-weight: 400;
  margin-right: 4px;
}

/*.card1:hover {
  border-radius: 12px;
  background-color: var(--Logo1-color);
  scale: 0.95;
  rotate: 5deg;
  box-shadow: 0px 3px 187.5px 7.5px var(--Logo1-900-color);
}*/
@media (max-width: 991px) {
  .card1 {
    width: 287px;
    height: 350px;
  }

  .pfo {
    padding: 21px 0px;
    margin-right: auto;
  }

  .banner2 .box2 {
    height: 48vh;
  }
}

/*😶‍🌫️ Select fin --------------------------------------------------*/

@media (max-width: 991px) {
  .banner {
    grid-template-columns: 1fr;
  }

  header {
    padding: 20px 40px;
  }

  .content {
    position: 40px;
  }

  .banner .box .content {
    height: 70vh;
  }

  .content .box .images {
    height: auto;
  }

  .logoPc {
    display: none;
  }

  header ul {
    display: none;
  }

  header ul li {
    display: none;
  }

  header ul li a {
    display: none;
  }

  header ul li a:hover {
    display: none;
  }
}

@media (max-width: 600px) {
  .content h2 {
    font-size: 3em;
  }

  .images .imgBx {
    width: 100%;
    height: 34vh;
  }

  .images .imgBx .imge {
    width: 100%;
  }

  .loader {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 37px;
    box-sizing: content-box;
    height: 65px;
    padding: 12px 0px;
    display: flex;
    border-radius: 48px;
  }
}