    <!----------------------------------------color blanco y negro FIN-------------------------------------------------->
    <footer class="footer">
        <div class="inner-footer">
            <nav>
                <ul class="sci">
                    <h3>Redes</h3>
                    <li><a href="#"><img class="imge" src="img/icon/github.svg"></a></li>
                    <li><a href="#"><img class="imge" src="img/icon/dribbble.svg"></a></li>
                    <li><a href="#"><img class="imge" src="img/icon/twitter.svg"></a></li>
                    <li><a href="#"><img class="imge" src="img/icon/whatsapp.svg"></a></li>
                    <li><a href="#"><img class="imge" src="img/icon/gmail.svg"></a></li>
                </ul>
            </nav>
        </div>
    </footer>



